html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-word: #5134ff;
}

h1 .animation-wrapper {
  display: inline-flex;
  background: var(--bg-word);
  color: #fff;
  border-radius: 8px;
  padding: 4px;
  overflow: hidden;
}

h1 .animation-wrapper spn {
  overflow: hidden;
}

h1 .animation-wrapper span:first-child {
  display: inline-block;
  width: fit-content;
  animation: firstAnimation 7s infinite;
}

@keyframes firstAnimation {
  0% {
    width: fit-content;
    opacity: 1;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  75% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

h1 .animation-wrapper span:nth-child(2) {
  display: inline-block;
  width: 0;
  animation: secondAnimation 7s infinite;
}

@keyframes secondAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: fit-content;
    opacity: 1;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  75% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

h1 .animation-wrapper span:nth-child(3) {
  display: inline-block;
  width: 0;
  animation: thirdAnimation 7s infinite;
}

@keyframes thirdAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: fit-content;
    opacity: 1;
  }
  75% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

h1 .animation-wrapper span:nth-child(4) {
  display: inline-block;
  width: 0;
  animation: forthAnimation 7s infinite;
}

@keyframes forthAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  75% {
    width: fit-content;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

h1 .animation-wrapper span:nth-child(5) {
  display: inline-block;
  width: 0;
  animation: fifthAnimation 7s infinite;
}

@keyframes fifthAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  75% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: fit-content;
    opacity: 1;
  }
}
